/* about */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
.about__list{
    margin-top: 110px;
    margin-bottom: 60px;
}

.list__list-item {
    text-align: center;
    display: inline-block;
    width: calc(99%/3);
}

.list-item__image--wrapper {
    display: inline-block;
    height: 95px;
    width: 95px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin-bottom: 80px;
}

.list-item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.list-item__image1 {
    margin-top: 10px;
}

.list-item__image2 {
    margin-top: 25px;
}

.list-item__image3 {
    margin-top: 15px;
}

/* end about */