@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
.mein-title--white-color {
    color: #FFFFFF;
}

.separator--white-color {
    background-color: #FFFFFF;
}

.secondary-title--white-color {
    color: #FFFFFF;
}
.design {
    padding: 100px 0 50px 0;
    background: url(../img/design/banner.jpg) no-repeat center;
    background-size: 100%;
     /* rgba(0, 0, 0, 0.5); */
}

.button--design {
    margin-top: 75px;
    width: 370px;
}