.footer {
    background: #000000;
    padding: 30px 0;
}
.secondary-title--grey-color {
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.social-networks {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: calc(100%-470px);
}

.footer-icon {
    margin-bottom: 25px;
}

.footer-icon .networks-icon {
    margin: 0 15px;
    width: 55px;
    height: 55px;
}