@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
.pricing {
    padding-top: 100px;
    background-color: #F5F5F5;
}

.pricing__list--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0 50px;
    margin-bottom: 100px;
}

.pricing__list {
    width: 370px;
    text-align: center;
    position: relative;
}

.pricing__list:hover {
    top: -30px;
    cursor: pointer;
}

.list-name {
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #F5F5F5;
    line-height: 60px;
}

.list-price {
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #F5F5F5;
    line-height: 100px;
}

.list-time {
    height: 50px;
    line-height: 50px;
    background: #333333;
    border: 1px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.list-size {
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;  
    text-transform: capitalize; 
}

