@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

.reviews-customers--wrapper {
    margin: 85px 0 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customers-item {
    position: relative;
}

.item-comment {
    position: relative;
    width: 370px;
    padding: 40px 20px;
    background: #E2E2E2;
    border-radius: 10px; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 70px;
}
.item-comment::before {
    position: absolute;
    content: "";
    border: 15px solid transparent; 
    border-top: 20px solid #E2E2E2;
    top: 185px;
    left: 60px;
}

.item-avatar {
    display: flex;
}

.avatar-img {
    width: 70px;
    height: 70px;
}

.avatar-title {
    padding-left: 30px;
}

.avatar-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 30px;
}

.avatar-post {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}